{{#> layouts/base title="Floating point visualisation" }}

  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-src="/stop.jpg"
      hero-alt="Careful now"
    }}
  {{/inline}}

  {{#*inline "body-block"}}
    <div class="container">
      <div class="section">

    <div class="row">
        <p>The logic powering this game can be found on my github account at <a href="https://github.com/js-jslog/wingTron">https://github.com/js-jslog/wingTron</a></p>
    </div>
    <div class="row">
        <div class="col-md-2 scoreboard">
            <h1>Scores</h1>
            <ol></ol>
            <button id="gameStartButton" type="button" class="btn btn-default" aria-label="Left Align">Start Game</button>
        </div>
        <div class="col-md-10 canvasBlock"></div>
    </div>
    <div class="options-forms-container">
        <div class="row">
            <div class="col-md-4">
                <h3>Game options</h3>
                <form class="game-options">
                    <div class="form-group">
                        <label>Field width (pixels)</label>
                        <input name="fieldWidth" type="text" data-mask="99?99" value="500">
                    </div>
                    <div class="form-group">
                        <label>Field height (pixels)</label>
                        <input name="fieldHeight" type="text" data-mask="99?9" value="500">
                    </div>
                    <div class="form-group">
                        <label>Matches</label>
                        <input name="matches" type="text" data-mask="9?9" value="10">
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Player1 options</h3>
                <form class="player-options">
                    <div class="form-group">
                        <label>Active</label>
                        <input name="playerActive" type="checkbox" checked>
                    </div>
                    <div class="form-group">
                        <label>Speed (pix/s)</label>
                        <input name="speed" type="textbox" data-mask="9?9" value="1">
                    </div>
                    <div class="form-group">
                        <label>Starting direction</label>
                        <select name="direction" class="form-control">
                            <option>N</option>
                            <option selected="selected">E</option>
                            <option>S</option>
                            <option>W</option>
                            <option>NE</option>
                            <option>SE</option>
                            <option>SW</option>
                            <option>NW</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Colour</label>
                        <select name="colour" class="form-control">
                            <option style="color:rgba(255,153,0,0.5)" selected="selected">rgba(255,153,0,0.5)</option>
                            <option style="color:rgba(153,0,255,0.5)">rgba(153,0,255,0.5)</option>
                            <option style="color:rgba(0,255,153,0.5)">rgba(0,255,153,0.5)</option>
                            <option style="color:rgba(255,136,153,0.5)">rgba(255,136,153,0.5)</option>
                            <option style="color:rgba(31,3,24,0.5)">rgba(31,3,24,0.5)</option>
                            <option style="color:rgba(105,166,217,0.5)">rgba(105,166,217,0.5)</option>
                            <option style="color:rgba(241,143,1,0.5)">rgba(241,143,1,0.5)</option>
                            <option style="color:rgba(82,82,82,0.5)">rgba(82,82,82,0.5)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Left key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="left arrow">
                        <input name="leftKey" type="hidden" value="37">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Right key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="right arrow">
                        <input name="rightKey" type="hidden" value="39">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Turning angle</label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.25" > 45
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.5" checked> 90
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Player2 options</h3>
                <form class="player-options">
                    <div class="form-group">
                        <label>Active</label>
                        <input name="playerActive" type="checkbox" checked>
                    </div>
                    <div class="form-group">
                        <label>Speed (pix/s)</label>
                        <input name="speed" type="textbox" data-mask="9?9" value="1">
                    </div>
                    <div class="form-group">
                        <label>Starting direction</label>
                        <select name="direction" class="form-control">
                            <option>N</option>
                            <option>E</option>
                            <option>S</option>
                            <option selected="selected">W</option>
                            <option>NE</option>
                            <option>SE</option>
                            <option>SW</option>
                            <option>NW</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Colour</label>
                        <select name="colour" class="form-control">
                            <option style="color:rgba(255,153,0,0.5)">rgba(255,153,0,0.5)</option>
                            <option style="color:rgba(153,0,255,0.5)" selected="selected">rgba(153,0,255,0.5)</option>
                            <option style="color:rgba(0,255,153,0.5)">rgba(0,255,153,0.5)</option>
                            <option style="color:rgba(255,136,153,0.5)">rgba(255,136,153,0.5)</option>
                            <option style="color:rgba(31,3,24,0.5)">rgba(31,3,24,0.5)</option>
                            <option style="color:rgba(105,166,217,0.5)">rgba(105,166,217,0.5)</option>
                            <option style="color:rgba(241,143,1,0.5)">rgba(241,143,1,0.5)</option>
                            <option style="color:rgba(82,82,82,0.5)">rgba(82,82,82,0.5)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Left key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="a key">
                        <input name="leftKey" type="hidden" value="65">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Right key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="d key">
                        <input name="rightKey" type="hidden" value="68">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Turning angle</label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.25" > 45
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.5" checked> 90
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Player3 options</h3>
                <form class="player-options">
                    <div class="form-group">
                        <label>Active</label>
                        <input name="playerActive" type="checkbox">
                    </div>
                    <div class="form-group">
                        <label>Speed (pix/s)</label>
                        <input name="speed" type="textbox" data-mask="9?9" value="1">
                    </div>
                    <div class="form-group">
                        <label>Starting direction</label>
                        <select name="direction" class="form-control">
                            <option>N</option>
                            <option>E</option>
                            <option selected="selected">S</option>
                            <option>W</option>
                            <option>NE</option>
                            <option>SE</option>
                            <option>SW</option>
                            <option>NW</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Colour</label>
                        <select name="colour" class="form-control">
                            <option style="color:rgba(255,153,0,0.5)">rgba(255,153,0,0.5)</option>
                            <option style="color:rgba(153,0,255,0.5)">rgba(153,0,255,0.5)</option>
                            <option style="color:rgba(0,255,153,0.5)" selected="selected">rgba(0,255,153,0.5)</option>
                            <option style="color:rgba(255,136,153,0.5)">rgba(255,136,153,0.5)</option>
                            <option style="color:rgba(31,3,24,0.5)">rgba(31,3,24,0.5)</option>
                            <option style="color:rgba(105,166,217,0.5)">rgba(105,166,217,0.5)</option>
                            <option style="color:rgba(241,143,1,0.5)">rgba(241,143,1,0.5)</option>
                            <option style="color:rgba(82,82,82,0.5)">rgba(82,82,82,0.5)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Left key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="j key">
                        <input name="leftKey" type="hidden" value="74">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Right key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="l key">
                        <input name="rightKey" type="hidden" value="76">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Turning angle</label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.25" > 45
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.5" checked> 90
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Player4 options</h3>
                <form class="player-options">
                    <div class="form-group">
                        <label>Active</label>
                        <input name="playerActive" type="checkbox">
                    </div>
                    <div class="form-group">
                        <label>Speed (pix/s)</label>
                        <input name="speed" type="textbox" data-mask="9?9" value="1">
                    </div>
                    <div class="form-group">
                        <label>Starting direction</label>
                        <select name="direction" class="form-control">
                            <option selected="selected">N</option>
                            <option>E</option>
                            <option>S</option>
                            <option>W</option>
                            <option>NE</option>
                            <option>SE</option>
                            <option>SW</option>
                            <option>NW</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Colour</label>
                        <select name="colour" class="form-control">
                            <option style="color:rgba(255,153,0,0.5)">rgba(255,153,0,0.5)</option>
                            <option style="color:rgba(153,0,255,0.5)">rgba(153,0,255,0.5)</option>
                            <option style="color:rgba(0,255,153,0.5)">rgba(0,255,153,0.5)</option>
                            <option style="color:rgba(255,136,153,0.5)" selected="selected">rgba(255,136,153,0.5)</option>
                            <option style="color:rgba(31,3,24,0.5)">rgba(31,3,24,0.5)</option>
                            <option style="color:rgba(105,166,217,0.5)">rgba(105,166,217,0.5)</option>
                            <option style="color:rgba(241,143,1,0.5)">rgba(241,143,1,0.5)</option>
                            <option style="color:rgba(82,82,82,0.5)">rgba(82,82,82,0.5)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Left key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="numpad 1">
                        <input name="leftKey" type="hidden" value="97">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Right key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="numpad 3">
                        <input name="rightKey" type="hidden" value="99">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Turning angle</label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.25" > 45
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.5" checked> 90
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Player5 options</h3>
                <form class="player-options">
                    <div class="form-group">
                        <label>Active</label>
                        <input name="playerActive" type="checkbox">
                    </div>
                    <div class="form-group">
                        <label>Speed (pix/s)</label>
                        <input name="speed" type="textbox" data-mask="9?9" value="1">
                    </div>
                    <div class="form-group">
                        <label>Starting direction</label>
                        <select name="direction" class="form-control">
                            <option>N</option>
                            <option>E</option>
                            <option>S</option>
                            <option>W</option>
                            <option selected="selected">NE</option>
                            <option>SE</option>
                            <option>SW</option>
                            <option>NW</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Colour</label>
                        <select name="colour" class="form-control">
                            <option style="color:rgba(255,153,0,0.5)">rgba(255,153,0,0.5)</option>
                            <option style="color:rgba(153,0,255,0.5)">rgba(153,0,255,0.5)</option>
                            <option style="color:rgba(0,255,153,0.5)">rgba(0,255,153,0.5)</option>
                            <option style="color:rgba(255,136,153,0.5)">rgba(255,136,153,0.5)</option>
                            <option style="color:rgba(31,3,24,0.5)" selected="selected">rgba(31,3,24,0.5)</option>
                            <option style="color:rgba(105,166,217,0.5)">rgba(105,166,217,0.5)</option>
                            <option style="color:rgba(241,143,1,0.5)">rgba(241,143,1,0.5)</option>
                            <option style="color:rgba(82,82,82,0.5)">rgba(82,82,82,0.5)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Left key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="add">
                        <input name="leftKey" type="hidden" value="107">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Right key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="subtract">
                        <input name="rightKey" type="hidden" value="109">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Turning angle</label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.25" > 45
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.5" checked> 90
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Player6 options</h3>
                <form class="player-options">
                    <div class="form-group">
                        <label>Active</label>
                        <input name="playerActive" type="checkbox">
                    </div>
                    <div class="form-group">
                        <label>Speed (pix/s)</label>
                        <input name="speed" type="textbox" data-mask="9?9" value="1">
                    </div>
                    <div class="form-group">
                        <label>Starting direction</label>
                        <select name="direction" class="form-control">
                            <option>N</option>
                            <option>E</option>
                            <option>S</option>
                            <option>W</option>
                            <option>NE</option>
                            <option>SE</option>
                            <option selected="selected">SW</option>
                            <option>NW</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Colour</label>
                        <select name="colour" class="form-control">
                            <option style="color:rgba(255,153,0,0.5)">rgba(255,153,0,0.5)</option>
                            <option style="color:rgba(153,0,255,0.5)">rgba(153,0,255,0.5)</option>
                            <option style="color:rgba(0,255,153,0.5)">rgba(0,255,153,0.5)</option>
                            <option style="color:rgba(255,136,153,0.5)">rgba(255,136,153,0.5)</option>
                            <option style="color:rgba(31,3,24,0.5)">rgba(31,3,24,0.5)</option>
                            <option style="color:rgba(105,166,217,0.5)" selected="selected">rgba(105,166,217,0.5)</option>
                            <option style="color:rgba(241,143,1,0.5)">rgba(241,143,1,0.5)</option>
                            <option style="color:rgba(82,82,82,0.5)">rgba(82,82,82,0.5)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Left key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="ctl">
                        <input name="leftKey" type="hidden" value="17">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Right key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="caps lock">
                        <input name="rightKey" type="hidden" value="20">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Turning angle</label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.25" > 45
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.5" checked> 90
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Player7 options</h3>
                <form class="player-options">
                    <div class="form-group">
                        <label>Active</label>
                        <input name="playerActive" type="checkbox">
                    </div>
                    <div class="form-group">
                        <label>Speed (pix/s)</label>
                        <input name="speed" type="textbox" data-mask="9?9" value="1">
                    </div>
                    <div class="form-group">
                        <label>Starting direction</label>
                        <select name="direction" class="form-control">
                            <option>N</option>
                            <option>E</option>
                            <option>S</option>
                            <option>W</option>
                            <option>NE</option>
                            <option>SE</option>
                            <option>SW</option>
                            <option selected="selected">NW</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Colour</label>
                        <select name="colour" class="form-control">
                            <option style="color:rgba(255,153,0,0.5)">rgba(255,153,0,0.5)</option>
                            <option style="color:rgba(153,0,255,0.5)">rgba(153,0,255,0.5)</option>
                            <option style="color:rgba(0,255,153,0.5)">rgba(0,255,153,0.5)</option>
                            <option style="color:rgba(255,136,153,0.5)">rgba(255,136,153,0.5)</option>
                            <option style="color:rgba(31,3,24,0.5)">rgba(31,3,24,0.5)</option>
                            <option style="color:rgba(105,166,217,0.5)">rgba(105,166,217,0.5)</option>
                            <option style="color:rgba(241,143,1,0.5)" selected="selected">rgba(241,143,1,0.5)</option>
                            <option style="color:rgba(82,82,82,0.5)">rgba(82,82,82,0.5)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Left key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="escape">
                        <input name="leftKey" type="hidden" value="27">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Right key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="`">
                        <input name="rightKey" type="hidden" value="223">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Turning angle</label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.25" > 45
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.5" checked> 90
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Player8 options</h3>
                <form class="player-options">
                    <div class="form-group">
                        <label>Active</label>
                        <input name="playerActive" type="checkbox">
                    </div>
                    <div class="form-group">
                        <label>Speed (pix/s)</label>
                        <input name="speed" type="textbox" data-mask="9?9" value="1">
                    </div>
                    <div class="form-group">
                        <label>Starting direction</label>
                        <select name="direction" class="form-control">
                            <option>N</option>
                            <option>E</option>
                            <option>S</option>
                            <option>W</option>
                            <option>NE</option>
                            <option selected="selected">SE</option>
                            <option>SW</option>
                            <option>NW</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Colour</label>
                        <select name="colour" class="form-control">
                            <option style="color:rgba(255,153,0,0.5)">rgba(255,153,0,0.5)</option>
                            <option style="color:rgba(153,0,255,0.5)">rgba(153,0,255,0.5)</option>
                            <option style="color:rgba(0,255,153,0.5)">rgba(0,255,153,0.5)</option>
                            <option style="color:rgba(255,136,153,0.5)">rgba(255,136,153,0.5)</option>
                            <option style="color:rgba(31,3,24,0.5)">rgba(31,3,24,0.5)</option>
                            <option style="color:rgba(105,166,217,0.5)">rgba(105,166,217,0.5)</option>
                            <option style="color:rgba(241,143,1,0.5)">rgba(241,143,1,0.5)</option>
                            <option style="color:rgba(82,82,82,0.5)" selected="selected">rgba(82,82,82,0.5)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Left key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="decimal point">
                        <input name="leftKey" type="hidden" value="110">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Right key</label>
                        <input onkeypress="javascript:return false;" onkeydown="javascript:return storeKeycode(event)" type="text" placeholder="numpad 6">
                        <input name="rightKey" type="hidden" value="102">
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label>Turning angle</label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.25" > 45
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="turningCircle" value="0.5" checked> 90
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>

      </div>
    </div>
  {{/inline}}

{{/layouts/base}}
