{{#> layouts/base title="Floating point visualisation" }}

  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-src="/stop.jpg"
      hero-alt="Careful now"
    }}
  {{/inline}}

  {{#*inline "body-block"}}
    <div class="container">
      <div class="section">
<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/MqHDDtVYJRI" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<p>This fascinating expose of the inner workings of the IEEE floating point standard gives foundation to some of the quirky features of the </p>
      </div>
    </div>
  {{/inline}}

{{/layouts/base}}
