{{#> layouts/base title="The ultimate pseudo-classical inheritance pattern" }}

  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-src="/ultimate-pseudo-classical-inheritance.jpg"
      hero-alt="classical, or near enough"
    }}
  {{/inline}}

  {{#*inline "body-block"}}
    <div class="container">
      <div class="section">





</div>
</div>
  {{/inline}}

{{/layouts/base}}
