/*
 * http://codersblock.com/blog/customizing-github-gists/
 */
body .gist .gist-file {
    margin-bottom: 0;
    border-radius: 10px;
}

body .gist .gist-data {
    border-bottom: none;
    border-radius: 10px;
    background-color: #f1f3f5;
}

body .gist .blob-wrapper {
    border-radius: 0;
}

body .gist .highlight {
    background-color: transparent;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 1rem;
}

body .gist .highlight td {
    padding: 0.618rem 1rem !important;
    line-height: 1rem;
    font-family: inherit;
    font-size: inherit;
}

body .gist tr:first-child td {
    padding-top: 1rem !important;
}

body .gist tr:last-child td {
    padding-bottom: 1rem !important;
}

body .gist .blob-num {
    color: #ced4da;
    pointer-events: none;
}

body .gist .gist-meta {
    display: none;
}
