html {
  font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
p {
  line-height: 2rem;
}

h5 {
  color: #bb4430;
}

.parallax-container {
  min-height: 696px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

@media only screen and (max-width : 992px) {
}

@media only screen and (max-width : 600px) {
}

