/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #12100c;
}

nav .brand-logo img {
  height: 93px;
  margin-top: 1px;
}

nav {
  position: absolute;
}

.title-box {
  position: relative;
  margin-right: 327px;
  top: -43px;
  float: right;
}

p {
  line-height: 2rem;
}

.color-brown {
  color: #12100c;
}

.color-white {
  color: #fff;
}

h5 {
  color: #bb4430;
}

.page-footer {
  padding-top: 20px;
  background-color: #303b52;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.2);
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 696px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.float-right {
    float: right;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
