{{#> layouts/base title="Articles" }}

  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-src="/articles.jpg"
      hero-alt="articles"
    }}
  {{/inline}}

  {{#*inline "body-block"}}
    <div class="container">
      <div class="section">
    
        <div class="row">
          <div id="article1"></div>

          {{> includes/articles-box
            article-title="The ultimate pseudo classical inheritance pattern"
            img-src="/ultimate-pseudo-classical-inheritance.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="ultimate-pseudo-classical-inheritance"
          }}

          {{> includes/articles-box
            article-title="Loops or array methods"
            img-src="/loops-or-array-methods.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="loops-or-array-methods"
          }}
        </div>

        <div class="row">
          {{> includes/articles-box
            article-title="Iterative array methods"
            img-src="/iterative-array-methods.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="iterative-array-methods"
          }}

          {{> includes/articles-box
            article-title="The boolean function"
            img-src="/boolean-function.png"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="boolean-function"
          }}

          {{> includes/articles-box
            article-title="The object object"
            img-src="/the-object-object.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="the-object-object"
          }}
        </div>

        <div class="row">
          {{> includes/articles-box
            article-title="Functions are objects too"
            img-src="/functions-are-objects-too.jpeg"
            blurb="Functions are first class citizens in javascript. But in the end how different are they from objects."
            link="functions-are-objects-too"
          }}

          {{> includes/articles-box
            article-title="The two pillars of Javascript"
            img-src="/the-two-pillars-of-javascript.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="the-two-pillars-of-javascript"
          }}

          {{> includes/articles-box
            article-title="Prefix vs postfix increment unary operators"
            img-src="/prefix-vs-postfix-increment-unary-operators.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="prefix-vs-postfix-increment-unary-operators"
          }}
        </div>

        <div class="row">
          {{> includes/articles-box
            article-title="Number conversion"
            img-src="/number-conversion.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="number-conversion"
          }}

          {{> includes/articles-box
            article-title="Build a game with TDD"
            img-src="/build-a-game-with-tdd.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="build-a-game-with-tdd"
          }}

          {{> includes/articles-box
            article-title="Floating point visualisation"
            img-src="/floating-point-visualisation.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="floating-point-visualisation"
          }}
        </div>
    
        <div class="row">

          {{> includes/articles-box
            article-title="Keywords & reserved words in Javascript"
            img-src="/keywords-and-reserved-words-in-javascript.jpg"
            blurb="Overview of the article. Probably the same text which should appear in the hero image under the title when I get round to that"
            link="keywords-and-reserved-words-in-javascript"
          }}
        </div>

      </div>
    </div>
    
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script src="/js/react/article.js"></script>
  {{/inline}}

{{/layouts/base}}
