{{#> layouts/base title="Articles" }}

  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-src="/articles.jpg"
      hero-alt="articles"
    }}
  {{/inline}}

  {{#*inline "body-block"}}
    <div class="container">
      <div id="articlesSection" class="section">
      </div>
    </div>
    
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script src="/js/react/article-page-content.js"></script>
  {{/inline}}

{{/layouts/base}}
