<div class="col s12 m4">
    <div class="icon-block">
      <img src="/images/{{img-src}}" alt="{{hero-alt}}" style="width: 100%">
      <h5 class="center">{{article-title}}</h5>
      <p class="light">{{blurb}}</p>
    </div>
</div>
