{{#> layouts/base title="Portfolio" }}

  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-src="/stop.jpg"
      hero-alt="Careful now"
    }}
  {{/inline}}

  {{#*inline "body-block"}}
    <div class="container">
      <div class="section">

<div class="row">
<div class="col-md-3">
<h4>CV</h4>
<a href="/files/cv_joseph_sinfield.pdf"><img src="/images/cv_joseph_sinfield.jpg" /></a>
</div>
<div class="description col-md-9">
<p>My CV describing my skill-set, employment history, qualifications & education.</p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<h4>JDWilliams website</h4>
<a href="http://www.jdwilliams.co.uk"><img src="/images/jdwilliams.jpg" /></a>
</div>
<div class="description col-md-9">
<p>During my 3 and a half years at JD williams I had an impact on functionality throughout the shop code, from account handling to sliding panels, on the homepage through to checkout.</p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<h4>Linen Cottage website</h4>
<a href="http://www.linencottage.co.uk"><img src="/images/linencottage.png" /></a>
</div>
<div class="description col-md-9">
<p>Linen Cottage is a company developing and producing home-made artisan jams, preserves and confectioneries.</p>
<p>The company is increasing it's reach and needed a simple website on which to list it's products. The spec was open from a design perspective, but it was clear that the most important feature was in providing the business with a simple way of posting their products with no IT support at all.</p>
<p>The site has several information pages for which the textual content is editable by the business for occasions when details change etc, however these pages are designed to be relatively static</p>
<p>The main place where the requirement for simple editions is applicable is in the product listings & product details pages. The business can add products with a simple interface which automatically composes a product name, description & image into a product details page. In addition to this, the product listings page is automatically updated to include a link to this new product</p>
<p>Drupal was chosen as the CMS, allowing flexible configuration of user roles & content blocks which were both essential for developing the clean and insulated access the business needed to feel secure in updating their website.</p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<h4>Land Army logo design</h4>
<a href="http://kindling.org.uk/landarmy"><img src="/images/land-army.png" /></a>
</div>
<div class="description col-md-9">
<p>Land Army is a project run by Manchester's Kindling Trust, providing support to new growers during the difficult first few years in the business. The project has been running for several years and has proven itself a successful endeavour, and with increasing ambitions required a logo to improve brand memorability.</p>
<p>Using a boot print and a shovel as inspiration, I designed this logo to reflect the hard work done by the volunteers. The colours are in keeping with the Kindling Trusts branding in general and I think it lends itself to this logo perfectly giving an impression of sun & mud and highlighting the separation between the two words at the toe end of the boot.</p>
</div>
</div>

      </div>
    </div>
  {{/inline}}

{{/layouts/base}}
